* {
  margin: 0;
  padding: 0;
}
.hero {
  padding-top: 30px;
  background-color: #7030cc;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 100px;
  margin-right: 400px;
}
nav {
  margin-right: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
nav ul li {
  margin-right: 50px;
}
.free-trial-btn {
  background-color: #1bbcef;
  color: #fff;
  border: 0;
  padding: 10px 20px;
}

.hero-container {
  width: 90%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero-left-container {
  width: 50%;
}
.hero-left-container h1 {
  width: 62%;
  font-size: 64px;
}
.hero-left-container p {
  margin-top: 20px;
  width: 50%;
}
.hero-container img {
  width: 600px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left-container img {
  width: 600px;
  margin-left: 100px;
}
.right-container h2 {
  width: 40%;
  margin-left: 300px;
}
.right-container ul {
  width: 40%;
  margin-left: 300px;
  margin-top: 50px;
  list-style: none;
}
.right-container ul li {
  margin-top: 20px;
}
.right-container ul li h3 {
  margin-top: 20px;
}
.right-container ul li p {
  margin-top: 10px;
  width: 80%;
}

.card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-section h2 {
  width: 18%;
  text-align: center;
}
.cards {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 14%;
  margin-right: 50px;
  box-shadow: 3px 0px 3px grey, 3px 3px 3px grey;
  height: 300px;
  border-radius: 20px;
}

.card img {
  padding: 20px;
  width: 100px;
margin-left: 5px;
}
.card-data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}
.card-data h4 {
  font-size: 20px;
}
.card-data p {
  margin-top: 5px;
  text-align: center;
}
.active {
  background-color: #6429b7;
  color: #fff;
  border-radius: 20px;
}
.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.web-devlopment{
    background-color: #faeaeb;
}
.data-analytics{
    background-color: #fbf0ee;
}
.secured-profile{
    background-color: #e9f4f6;
}
.support{
    background-color: #f2e7f5;
}
.secured-profile img{
    margin-top: 10px;
}

